* {
  outline: none;
  margin: 0;
}
html, body {
  font-family: "Museo Sans", Arial, "sans-serif";
  background-color: #f5f5f5;
  height: 100%;
  /*min-height: 800px;*/
  padding: 0;
  overflow: auto;
}
a {
  color: #0091dc;
  text-decoration: none;
}
a:hover,
a.hover {
  color: #007bbf;
  text-decoration: underline;
  cursor: pointer;
}
h1 {
  font-weight: 100;
  font-size: 2.5rem;
}
p, label {
  font-weight: 300;
  font-size: 1.25rem;
}
p a.format-options-item:not(:first-child) {
  border-left: 1px solid #3e444d;
  padding-left: 5px;
}
.format-options {
  margin-top: 15px;
  margin-bottom: 25px;
}
h1, h2, h3, h4, p, label, input {
  color: #3e444d;
}
input, textarea {
  width: 100%;
}
input {
  background-color: #ffffff;
  appearance: none;
  font-size: 1.4rem;
  padding: 5px;
  border: none;
  box-shadow: none;
  border: solid 2px #ffffff;
  border-radius: 5px;
  padding: 10px;
  transition: border 0.2s ease;
}
textarea {
  background-color: #ffffff;
  appearance: none;
  font-size: 1.4rem;
  padding: 5px;
  border: none;
  box-shadow: none;
  border: solid 2px #ffffff;
  border-radius: 5px;
  padding: 10px;
  transition: border 0.2s ease;
  overflow: auto;
  resize: none;
}
input:focus,
input.focus,
textarea:focus,
textarea.focus {
  outline: none;
  border: solid 2px #00ddff;
  transition: border 0.4s ease;
}
.container {
  min-height: 100%;
  margin: 0 auto -40px; /* -100px for sticky footer */
  width: 100%;
}
.link-container {
  white-space: nowrap;
  overflow-x: auto;
  padding-left: 12px;
  padding-right: 12px;
  overflow-y: hidden;
  margin-left: auto;
  margin-right: auto;
  height: 3rem;
  /*border: solid 1px #3e444d;*/
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #ffffff;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
}
.main-logo {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 250px;
  height: auto;
}
.light {
  color: #ffffff;
}
.copy-btn {
  height: 3rem;
  width: 3rem;
  box-shadow: none;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #0091dc;
}
.copy-btn:hover, .copy-btn:focus {
  background-color: #007bbf;
  border: none;
  cursor: pointer;
}
/* Utility classes */
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.copy-region {
  margin-top: 50px;
}
.center-text {
  text-align: center;
}
/* Rules for Id's */
#result {
  overflow: scroll horizontal;
  font-size: 1.25rem;
  color: #3e444d;
}
.footer {
  height: 40px;
  position: relative;
  width: 700px;
  margin: 0 auto;
}
/* Tooltip */
/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
